{
  "presets": [
    [
      "@nrwl/react/babel",
      {
        "runtime": "automatic",
        "importSource": "react",
        "useBuiltIns": "usage",
        "decorators": {
          "decoratorsBeforeExport": true,
          // "legacy": true
        },
        "classProperties": {
          "loose": false
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "version": "2022-03"
      }
    ]
  ]
}
